<h2>Data Cleaning</h2>

<h3>Importing Libraries</h3>

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
import warnings
%matplotlib inline
warnings.filterwarnings("ignore")
from azure.ai.ml import MLClient
from azure.identity import DefaultAzureCredential
from azure.ai.ml.entities import Data
from azure.ai.ml.constants import AssetTypes

<h3>Reading Scraped Data</h3>

In [3]:
from azure.ai.ml import MLClient
from azure.identity import DefaultAzureCredential
from azure.ai.ml.entities import Data
from azure.ai.ml.constants import AssetTypes

# authenticate
credential = DefaultAzureCredential()

# Get a handle to the workspace
ml_client = MLClient(
    credential=credential,
    subscription_id="###",
    resource_group_name="###",
    workspace_name="###",
)

In [4]:
import pandas as pd
version = "Scraped_Car_Data_csv"
# get a handle of the data asset and print the URI
data_asset = ml_client.data.get(name="Car-Data", version=version)
print(f"Data asset URI: {data_asset.path}")

# read into pandas - note that you will see 2 headers in your data frame - that is ok, for now

df = pd.read_csv(data_asset.path)

Data asset URI: azureml://subscriptions/144c7089-5d3d-40fa-bfaf-6ffb69774b59/resourcegroups/AML-sdk-v2-RG1/workspaces/AML-sdk-v2-RG1-WS1/datastores/workspaceblobstore/paths/LocalUpload/6b85ae647b8c19dd5044a706ba75099e/Scraped_Car_Data.csv

In [5]:
df.head(2)

,Price,New_Price_Roadworthy,Road_Tax_3_Months,Body_Type,Transmission,Number_of_Seats,Segment,Introduction,End,Drive_Wheel,...,Third_Gear,Fourth_Gear,Fifth_Gear,Sixth_Gear,Seventh_Gear,Eighth_Gear,Ninth_Gear,Reverse_Gear,Final_Drive,Rpm_At_120_Km_h
0,€ 23.200,NaN,€ 72 - € 80,"3-doors, hatchback",5 speed manual transmission,4,a (mini),july 2008,july 2012,front,...,"1,52:1","1,16:1","0,87:1",NaN,NaN,NaN,NaN,"3,91:1","3,35:1",3.200 tpm
1,€ 25.500,NaN,€ 115 - € 128,"3-doors, convertible",5 speed manual transmission,4,b (small),june 2011,july 2012,front,...,"1,52:1","1,16:1","0,87:1",NaN,NaN,NaN,NaN,"3,91:1","3,35:1",3.200 tpm

<h3>Feature Description</h3>

<pre>
1. **Price:** The cost of the vehicle in the market.
2. **New_Price_Roadworthy:** The updated price of the vehicle after roadworthiness certification.
3. **Road_Tax_3_Months:** The tax amount payable for a 3-month period to drive the vehicle on the road.
4. **Body_Type:** The design classification of the vehicle, such as sedan, hatchback, etc.
5. **Transmission:** The type of gearbox used, such as automatic or manual.
6. **Number_of_Seats:** The total seating capacity of the vehicle.
7. **Segment:** The market segment to which the vehicle belongs.
8. **Introduction:** The date or period when the vehicle was first introduced.
9. **End:** The date or period when the production of the vehicle ceased.
10. **Drive_Wheel:** The wheel that receives power from the engine, determining if the vehicle is front, rear, or all-wheel drive.
11. **Engine_motor_Type:** The classification of the engine, specifying its type.
12. **Fuel_Type:** The type of fuel the vehicle uses.
13. **Power:** The engine power in general.
14. **Total_Max_Power_kW:** The maximum power output of the engine in kilowatts.
15. **Total_Max_Power_hp:** The maximum power output of the engine in horsepower.
16. **Max_Torque:** The maximum twisting force the engine can exert.
17. **Cylinders:** The number of cylinders in the engine.
18. **Valves_Per_Cylinder:** The number of valves in each engine cylinder.
19. **Engine_Capacity:** The total volume of all cylinders in the engine.
20. **Bore_X_Stroke:** The diameter and length of the engine cylinders.
21. **Compression_Ratio:** The ratio of the maximum to minimum volume in the engine.
22. **Max_Power:** The maximum power output of the engine.
23. **Power_kW:** The power of the engine in kilowatts.
24. **Power_hp:** The power of the engine in horsepower.
25. **Max_Power_Rpm:** The revolutions per minute at which the engine produces its maximum power.
26. **Max_Torque.1:** Another measure of the maximum twisting force the engine can exert.
27. **Max_Torque_Rpm:** The revolutions per minute at which the engine produces its maximum torque.
28. **Fuel_System:** The system responsible for supplying fuel to the engine.
29. **Valve_Actuation:** The mechanism that controls the opening and closing of engine valves.
30. **Turbo:** Indicates whether the vehicle has a turbocharger.
31. **Catalyst:** The device used to reduce emissions.
32. **Fuel_Tank_Capacity:** The volume of fuel the vehicle's tank can hold.
33. **Top_Speed:** The maximum speed the vehicle can achieve.
34. **Acceleration_0_100_Km_H:** The time it takes for the vehicle to accelerate from 0 to 100 kilometers per hour.
35. **Practice_Consumption_Monitor:** Monitoring of practical fuel consumption.
36. **Urban_Consumption:** Fuel consumption in urban driving conditions.
37. **Extra_Urban_Consumption:** Fuel consumption in extra-urban driving conditions.
38. **Combined_Consumption:** Overall combined fuel consumption.
39. **Co2_Emissions:** The amount of carbon dioxide emitted by the vehicle.
40. **Energy_Label:** The energy efficiency label assigned to the vehicle.
41. **Power_Consumption:** The power consumption of electric vehicles.
42. **Battery_Range:** The range the vehicle can travel on a single battery charge.
43. **Low_Consumption:** Low-level energy consumption for electric vehicles.
44. **Medium_Consumption:** Medium-level energy consumption for electric vehicles.
45. **High_Consumption:** High-level energy consumption for electric vehicles.
46. **Very_High_Consumption:** Very high-level energy consumption for electric vehicles.
47. **Combined_Consumption.1:** Combined energy consumption for electric vehicles.
48. **Co2_Emissions.1:** CO2 emissions for electric vehicles.
49. **Battery_Range.1:** The range electric vehicles can travel on a single battery charge.
50. **Power_Consumption.1:** The power consumption of electric vehicles.
51. **Front_Suspension_1:** Details about the front suspension of the vehicle.
52. **Rear_Suspension_1:** Details about the rear suspension of the vehicle.
53. **Front_Suspension_2:** Additional details about the front suspension.
54. **Rear_Suspension_2:** Additional details about the rear suspension.
55. **Front_Stabilizer:** The stabilizer used in the front suspension.
56. **Rear_Stabilizer:** The stabilizer used in the rear suspension.
57. **Front_Brakes:** Details about the front brake system.
58. **Rear_Brakes:** Details about the rear brake system.
59. **Front_Tire_Size:** The size of the front tires.
60. **Rear_Tire_Size:** The size of the rear tires.
61. **Turning_Circle:** The minimum radius needed to make a U-turn.
62. **First_Gear:** Details about the first gear of the transmission.
63. **Second_Gear:** Details about the second gear of the transmission.
64. **Third_Gear:** Details about the third gear of the transmission.
65. **Fourth_Gear:** Details about the fourth gear of the transmission.
66. **Fifth_Gear:** Details about the fifth gear of the transmission.
67. **Sixth_Gear:** Details about the sixth gear of the transmission.
68. **Seventh_Gear:** Details about the seventh gear of the transmission.
69. **Eighth_Gear:** Details about the eighth gear of the transmission.
70. **Ninth_Gear:** Details about the ninth gear of the transmission.
71. **Reverse_Gear:** Details about the reverse gear of the transmission.
72. **Final_Drive:** The final gear ratio in the vehicle's transmission.
73. **Rpm_At_120_Km_h:** The engine's revolutions per minute at a speed of 120 kilometers per hour.
</pre>

<h3>Cleaning Data</h3>

<h5>1. Dropping Irrelevant Features</h5>

In [6]:
df.columns

Index(['Price', 'New_Price_Roadworthy', 'Road_Tax_3_Months', 'Body_Type',
       'Transmission', 'Number_of_Seats', 'Segment', 'Introduction', 'End',
       'Drive_Wheel', 'Engine_motor_Type', 'Fuel_Type', 'Power',
       'Total_Max_Power_kW', 'Total_Max_Power_hp', 'Max_Torque', 'Cylinders',
       'Valves_Per_Cylinder', 'Engine_Capacity', 'Bore_X_Stroke',
       'Compression_Ratio', 'Max_Power', 'Power_kW', 'Power_hp',
       'Max_Power_Rpm', 'Max_Torque.1', 'Max_Torque_Rpm', 'Fuel_System',
       'Valve_Actuation', 'Turbo', 'Catalyst', 'Fuel_Tank_Capacity',
       'Top_Speed', 'Acceleration_0_100_Km_H', 'Practice_Consumption_Monitor',
       'Urban_Consumption', 'Extra_Urban_Consumption', 'Combined_Consumption',
       'Co2_Emissions', 'Energy_Label', 'Power_Consumption', 'Battery_Range',
       'Low_Consumption', 'Medium_Consumption', 'High_Consumption',
       'Very_High_Consumption', 'Combined_Consumption.1', 'Co2_Emissions.1',
       'Battery_Range.1', 'Power_Consumption.1', 'Front_Suspension_1',
       'Rear_Suspension_1', 'Front_Suspension_2', 'Rear_Suspension_2',
       'Front_Stabilizer', 'Rear_Stabilizer', 'Front_Brakes', 'Rear_Brakes',
       'Front_Tire_Size', 'Rear_Tire_Size', 'Turning_Circle', 'First_Gear',
       'Second_Gear', 'Third_Gear', 'Fourth_Gear', 'Fifth_Gear', 'Sixth_Gear',
       'Seventh_Gear', 'Eighth_Gear', 'Ninth_Gear', 'Reverse_Gear',
       'Final_Drive', 'Rpm_At_120_Km_h'],
      dtype='object')

In [7]:
df[["Max_Torque","Max_Torque.1"]].head(6)

  Max_Torque Max_Torque.1
0     206 nm       206 nm
1     206 nm       206 nm
2     201 nm       201 nm
3     250 nm       250 nm
4     206 nm       206 nm
5     124 nm       124 nm

<pre>The features Max_Torque.1 and Max_Torque are the same, so we can remove any one of them safely.</pre>

<pre>
The features :
['Urban_Consumption', 'Extra_Urban_Consumption', 'Combined_Consumption',
 'Co2_Emissions', 'Energy_Label', 'Power_Consumption', 'Battery_Range']
belong to NEDC.
NEDC: The NEDC was an older testing procedure used for many years. It consisted of a laboratory-based
test cycle that did not fully represent real-world driving conditions.
</pre>

<pre>
The features :
['Low_Consumption', 'Medium_Consumption', 'High_Consumption','Very_High_Consumption', 
'Combined_Consumption.1', 'Co2_Emissions.1', 'Battery_Range.1', 'Power_Consumption.1']
belong to WLTP.
WLTP: The WLTP is a more recent and updated testing procedure designed to better reflect 
real-world driving conditions. It includes a more dynamic and longer test cycle compared to NEDC.
</pre>

<pre>
Since both NEDC and WLTP consist of  Combined Consumption, Co2 Emissions, Battery Range and Power Consumption, 
we will choose WLTP since it is the updated testing procedure. If there is no data for the particular feature in WLTP, 
then we will choose NEDC. If there is no data in both WLTP and NEDC we will keep it null.
We will create functions to create these new features.
</pre>

In [8]:
df[["Power_Consumption", "Power_Consumption.1"]]

     Power_Consumption Power_Consumption.1
0                  NaN                 NaN
1                  NaN                 NaN
2                  NaN                 NaN
3                  NaN                 NaN
4                  NaN                 NaN
...                ...                 ...
4632               NaN                 NaN
4633               NaN                 NaN
4634       - kwh/100km      11,0 kwh/100km
4635               NaN                 NaN
4636    13,8 kwh/100km      16,6 kwh/100km

[4637 rows x 2 columns]

In [9]:
def Combined_Consumption_func(Combined_Consumption_NEDC, Combined_Consumption_WLTP):
    if type(Combined_Consumption_WLTP) == float and type(Combined_Consumption_NEDC) ==  float:
        return np.nan
    elif  type(Combined_Consumption_WLTP) == str:
        return Combined_Consumption_WLTP
    else:
        return Combined_Consumption_NEDC
    

def Co2_Emissions_func(Co2_Emissions_NEDC, Co2_Emissions_WLTP):
    if type(Co2_Emissions_WLTP) == float and type(Co2_Emissions_NEDC) ==  float:
        return np.nan
    elif  type(Co2_Emissions_WLTP) == str:
        return Co2_Emissions_WLTP
    else:
        return Co2_Emissions_NEDC
   

def Battery_Range_func(Battery_Range_NEDC, Battery_Range_WLTP):
    if type(Battery_Range_WLTP) == float and type(Battery_Range_NEDC) ==  float:
        return np.nan
    elif  type(Battery_Range_WLTP) == str:
        return Battery_Range_WLTP
    else:
        return Battery_Range_NEDC
   

def Power_Consumption_func(Power_Consumption_NEDC, Power_Consumption_WLTP):
    if type(Power_Consumption_WLTP) == float and type(Power_Consumption_NEDC) ==  float:
        return np.nan
    elif  type(Power_Consumption_WLTP) == str:
        return Power_Consumption_WLTP
    else:
        return Power_Consumption_NEDC

In [10]:
df['New_Combined_Consumption'] = df[['Combined_Consumption','Combined_Consumption.1']].apply(lambda df: Combined_Consumption_func(df['Combined_Consumption'],df['Combined_Consumption.1']),axis=1)
df['New_Battery_Range'] = df[['Battery_Range','Battery_Range.1']].apply(lambda df: Battery_Range_func(df['Battery_Range'],df['Battery_Range.1']),axis=1)
df['New_Power_Consumption'] = df[['Power_Consumption','Power_Consumption.1']].apply(lambda df: Power_Consumption_func(df['Power_Consumption'],df['Power_Consumption.1']),axis=1)
df['New_Co2_Emissions'] = df[['Co2_Emissions','Co2_Emissions.1']].apply(lambda df: Co2_Emissions_func(df['Co2_Emissions'],df['Co2_Emissions.1']),axis=1)

In [11]:
df.head(5)

,Price,New_Price_Roadworthy,Road_Tax_3_Months,Body_Type,Transmission,Number_of_Seats,Segment,Introduction,End,Drive_Wheel,...,Seventh_Gear,Eighth_Gear,Ninth_Gear,Reverse_Gear,Final_Drive,Rpm_At_120_Km_h,New_Combined_Consumption,New_Battery_Range,New_Power_Consumption,New_Co2_Emissions
0,€ 23.200,NaN,€ 72 - € 80,"3-doors, hatchback",5 speed manual transmission,4,a (mini),july 2008,july 2012,front,...,NaN,NaN,NaN,"3,91:1","3,35:1",3.200 tpm,"6,5 l/100km",NaN,NaN,155 g/km
1,€ 25.500,NaN,€ 115 - € 128,"3-doors, convertible",5 speed manual transmission,4,b (small),june 2011,july 2012,front,...,NaN,NaN,NaN,"3,91:1","3,35:1",3.200 tpm,"6,5 l/100km",NaN,NaN,155 g/km
2,€ 21.990,NaN,€ 115 - € 128,"3-doors, hatchback",6 speed manual transmission,4,b (small),august 2008,june 2010,front,...,NaN,NaN,NaN,"4,00:1","4,18:1",3.250 tpm,"6,9 l/100km",NaN,NaN,162 g/km
3,€ 24.545,NaN,€ 136 - € 152,"3-doors, hatchback",6 speed manual transmission,4,b (small),june 2010,january 2013,front,...,NaN,NaN,NaN,"4,00:1","4,18:1",3.250 tpm,"6,0 l/100km",NaN,NaN,142 g/km
4,€ 30.000,NaN,€ 157 - € 176,"5-doors, station wagon",5 speed manual transmission,5,d (mid-size),march 2002,july 2003,front,...,NaN,NaN,NaN,"3,91:1","3,56:1",3.450 tpm,"8,9 l/100km",NaN,NaN,212 g/km

<pre>
Now we will remove the columns
</pre>

In [12]:
Removable_Columns = ["Combined_Consumption", "Combined_Consumption.1", "Co2_Emissions", "Co2_Emissions.1",
                     "Battery_Range", "Battery_Range.1", "Power_Consumption", "Power_Consumption.1", "Max_Torque.1"]
                
df = df.drop(columns=Removable_Columns, axis =1)
df.head(2)

,Price,New_Price_Roadworthy,Road_Tax_3_Months,Body_Type,Transmission,Number_of_Seats,Segment,Introduction,End,Drive_Wheel,...,Seventh_Gear,Eighth_Gear,Ninth_Gear,Reverse_Gear,Final_Drive,Rpm_At_120_Km_h,New_Combined_Consumption,New_Battery_Range,New_Power_Consumption,New_Co2_Emissions
0,€ 23.200,NaN,€ 72 - € 80,"3-doors, hatchback",5 speed manual transmission,4,a (mini),july 2008,july 2012,front,...,NaN,NaN,NaN,"3,91:1","3,35:1",3.200 tpm,"6,5 l/100km",NaN,NaN,155 g/km
1,€ 25.500,NaN,€ 115 - € 128,"3-doors, convertible",5 speed manual transmission,4,b (small),june 2011,july 2012,front,...,NaN,NaN,NaN,"3,91:1","3,35:1",3.200 tpm,"6,5 l/100km",NaN,NaN,155 g/km

<h5>2. Renaming Columns</h5>

In [13]:
df = df.rename(columns={"New_Combined_Consumption":"Combined_Consumption", 
                        "New_Co2_Emissions":"Co2_Emissions",
                        "New_Battery_Range":"Battery_Range",
                        "New_Power_Consumption":"Power_Consumption"
                        })
df.columns

Index(['Price', 'New_Price_Roadworthy', 'Road_Tax_3_Months', 'Body_Type',
       'Transmission', 'Number_of_Seats', 'Segment', 'Introduction', 'End',
       'Drive_Wheel', 'Engine_motor_Type', 'Fuel_Type', 'Power',
       'Total_Max_Power_kW', 'Total_Max_Power_hp', 'Max_Torque', 'Cylinders',
       'Valves_Per_Cylinder', 'Engine_Capacity', 'Bore_X_Stroke',
       'Compression_Ratio', 'Max_Power', 'Power_kW', 'Power_hp',
       'Max_Power_Rpm', 'Max_Torque_Rpm', 'Fuel_System', 'Valve_Actuation',
       'Turbo', 'Catalyst', 'Fuel_Tank_Capacity', 'Top_Speed',
       'Acceleration_0_100_Km_H', 'Practice_Consumption_Monitor',
       'Urban_Consumption', 'Extra_Urban_Consumption', 'Energy_Label',
       'Low_Consumption', 'Medium_Consumption', 'High_Consumption',
       'Very_High_Consumption', 'Front_Suspension_1', 'Rear_Suspension_1',
       'Front_Suspension_2', 'Rear_Suspension_2', 'Front_Stabilizer',
       'Rear_Stabilizer', 'Front_Brakes', 'Rear_Brakes', 'Front_Tire_Size',
       'Rear_Tire_Size', 'Turning_Circle', 'First_Gear', 'Second_Gear',
       'Third_Gear', 'Fourth_Gear', 'Fifth_Gear', 'Sixth_Gear', 'Seventh_Gear',
       'Eighth_Gear', 'Ninth_Gear', 'Reverse_Gear', 'Final_Drive',
       'Rpm_At_120_Km_h', 'Combined_Consumption', 'Battery_Range',
       'Power_Consumption', 'Co2_Emissions'],
      dtype='object')

<h5>3. Selecting Features </h5>

<pre>Since our business problem is to predict Co2 emission from vehicles, 
we will choose features which are relevant for our business problem.</pre>

<pre>The features that are likely to contribute to CO2 emissions from cars are those related 
to the engine and fuel efficiency. Here are the features that are associated with CO2 emissions:
 [
    'Fuel_Type',
    'Total_Max_Power_kW',
    'Total_Max_Power_hp',
    'Max_Torque',
    'Cylinders',
    'Valves_Per_Cylinder',
    'Engine_Capacity',
    'Bore_X_Stroke',
    'Compression_Ratio',
    'Max_Power_Rpm',
    'Max_Torque_Rpm',
    'Turbo',
    'Fuel_System',
    'Co2_Emissions'
]
</pre>

<pre>
Fuel_Type:

The type of fuel used by the car, such as gasoline, diesel, hybrid, or electric, significantly 
affects CO2 emissions.

Total_Max_Power_kW and Total_Max_Power_hp:

The total maximum power output of the engine in kilowatts and horsepower can impact fuel 
consumption and emissions.

Max_Torque:

The maximum torque produced by the engine, as torque and power are related, and engine 
efficiency affects emissions.

Cylinders:

The number of cylinders in the engine can influence fuel efficiency and emissions.

Valves_Per_Cylinder:

The number of valves per cylinder is another engine-related factor that can impact 
combustion efficiency and emissions.

Engine_Capacity:

The total engine displacement or capacity is a key factor in determining fuel 
consumption and emissions.
Bore_X_Stroke:

The dimensions of the cylinders (bore and stroke) affect the engine's performance and emissions.

Compression_Ratio:

The compression ratio is the ratio of the maximum to minimum volume in the combustion chamber 
and influences engine efficiency and emissions.

Max_Power_Rpm and Max_Torque_Rpm:

The engine speed at which maximum power and torque are achieved can impact fuel consumption 
and emissions.

Turbo:

The presence of a turbocharger affects engine efficiency and emissions.

Fuel_System:

The type of fuel injection or carburetion system can impact combustion efficiency
and emissions.

Co2_Emissions:

The target variable itself, CO2 emissions, is an important feature when studying its 
relationship with other parameters.
</pre>

In [14]:
Features_related_to_Co2_emissions = [
    'Fuel_Type',
    "Power",
    'Max_Torque',
    'Cylinders',
    'Valves_Per_Cylinder',
    'Engine_Capacity',
    'Bore_X_Stroke',
    'Compression_Ratio',
    'Max_Power_Rpm',
    'Max_Torque_Rpm',
    'Fuel_System',
    'Turbo',
    'Co2_Emissions'
]

In [15]:
df = df[Features_related_to_Co2_emissions]

<h5>4. Data Type Correction</h5>

<p>1. Fuel Type</p>

In [16]:
df["Fuel_Type"]

0       gasoline
1       gasoline
2       gasoline
3       gasoline
4       gasoline
          ...
4632    gasoline
4633    gasoline
4634         NaN
4635    gasoline
4636         NaN
Name: Fuel_Type, Length: 4637, dtype: object

In [17]:
df["Fuel_Type"].unique()

array(['gasoline', 'diesel', 'gasoline / bio ethanol', nan,
       'lpg / gasoline'], dtype=object)

<p>2. Power</p>

In [18]:
df["Power"]

0        99 kw (135 hp)
1        99 kw (135 hp)
2       114 kw (155 hp)
3       121 kw (165 hp)
4       121 kw (165 hp)
             ...
4632    103 kw (140 hp)
4633    103 kw (140 hp)
4634    239 kw (325 hp)
4635     81 kw (110 hp)
4636    150 kw (204 hp)
Name: Power, Length: 4637, dtype: object

<pre>
Since Power is a numerical (int) type feature. We will convert it. 
We will choose Kilowatts for creating new feature.
There are some values missing in kw, so we'll use hp with formula
Power (kW)=Power (hp)×0.7457
to determine kW
</pre>

In [19]:
def Power_func(power):
    if type(power) == str:
        kw_power = power.split()[0]
        if kw_power == "-":
            hp_power = power.split()[2]
            hp_power = hp_power.split("(")[1]
            if hp_power == "-":
                return np.nan
            else:
                kw_power = float(hp_power) * 0.7457
                return str(kw_power)
        else:
            return kw_power
    else:
        return power

In [20]:
df['Power(kw)'] = df["Power"].apply(Power_func)
df = df.drop("Power", axis = 1)

In [21]:
df['Power(kw)'] = df['Power(kw)'].astype(float)
df['Power(kw)']

0        99.0
1        99.0
2       114.0
3       121.0
4       121.0
        ...
4632    103.0
4633    103.0
4634    239.0
4635     81.0
4636    150.0
Name: Power(kw), Length: 4637, dtype: float64

<p>3. Max_Torque</p>

In [22]:
df["Max_Torque"]

0       206 nm
1       206 nm
2       201 nm
3       250 nm
4       206 nm
         ...
4632    260 nm
4633    260 nm
4634    420 nm
4635    200 nm
4636    310 nm
Name: Max_Torque, Length: 4637, dtype: object

In [23]:
def Max_Torque_func(torque):
    if type(torque) == str:
        torque = torque.split()[0]
        if torque == "-":
            return np.nan
        else:
            return torque
    else:
        return torque

In [24]:
df['Max_Torque(nm)'] = df["Max_Torque"].apply(Max_Torque_func)
df = df.drop("Max_Torque", axis = 1)

In [25]:
df['Max_Torque(nm)'] = df['Max_Torque(nm)'].astype(float)
df['Max_Torque(nm)']

0       206.0
1       206.0
2       201.0
3       250.0
4       206.0
        ...
4632    260.0
4633    260.0
4634    420.0
4635    200.0
4636    310.0
Name: Max_Torque(nm), Length: 4637, dtype: float64

<p>4. Cylinders</p>

In [26]:
df["Cylinders"]

0       4, in line
1       4, in line
2       4, in line
3       4, in line
4       4, in line
           ...
4632    4, in line
4633    4, in line
4634           NaN
4635    3, in line
4636           NaN
Name: Cylinders, Length: 4637, dtype: object

In [27]:
df["Cylinders"].unique()

array(['4, in line', '4, boxer', '8, v engine', '12, v engine',
       '5, in line', '6, v engine', '10, v engine', '8, in line',
       '12, w engine', '6, in line', '16, w engine', '3, in line', '4',
       '2, boxer', nan, '2, in line', '3', '4, v engine', '6', '6, boxer',
       '2', 'n.b.', '0, in line', '8', '2, v engine', '8, w engine'],
      dtype=object)

In [28]:
def Cylinders_func(c):
    if type(c) == str:
        if c == "n.b.":
            return np.nan 
        else:
            return c

In [29]:
df['New_Cylinders'] = df["Cylinders"].apply(Cylinders_func)
df = df.drop("Cylinders", axis = 1)
df = df.rename(columns={"New_Cylinders":"Cylinders"
                        })

In [30]:
df["Cylinders"].unique()

array(['4, in line', '4, boxer', '8, v engine', '12, v engine',
       '5, in line', '6, v engine', '10, v engine', '8, in line',
       '12, w engine', '6, in line', '16, w engine', '3, in line', '4',
       '2, boxer', None, '2, in line', '3', '4, v engine', '6',
       '6, boxer', '2', nan, '0, in line', '8', '2, v engine',
       '8, w engine'], dtype=object)

<p>5. Valves_Per_Cylinder</p>

In [31]:
df["Valves_Per_Cylinder"]

0         4
1         4
2         4
3         4
4         4
       ...
4632      4
4633      4
4634    NaN
4635      4
4636    NaN
Name: Valves_Per_Cylinder, Length: 4637, dtype: object

In [32]:
df["Valves_Per_Cylinder"].unique()

array(['4', '2', '5', '3', nan, 'n.b.', '0'], dtype=object)

In [33]:
def Valves_Per_Cylinder_func(valves):
    if valves == 'n.b.':
        return np.nan
    else:
        return valves

In [34]:
df['New_Valves_Per_Cylinder'] = df["Valves_Per_Cylinder"].apply(Valves_Per_Cylinder_func)
df = df.drop("Valves_Per_Cylinder", axis = 1)
df = df.rename(columns={"New_Valves_Per_Cylinder":"Valves_Per_Cylinder"
                        })

In [35]:
df['Valves_Per_Cylinder'] = df['Valves_Per_Cylinder'].astype(float)
df['Valves_Per_Cylinder']

0       4.0
1       4.0
2       4.0
3       4.0
4       4.0
       ...
4632    4.0
4633    4.0
4634    NaN
4635    4.0
4636    NaN
Name: Valves_Per_Cylinder, Length: 4637, dtype: float64

In [36]:
df["Valves_Per_Cylinder"].unique()

array([ 4.,  2.,  5.,  3., nan,  0.])

<p>6. Engine_Capacity</p>

In [37]:
df["Engine_Capacity"]

0       1368 cc
1       1368 cc
2       1368 cc
3       1368 cc
4       1970 cc
         ...
4632    1333 cc
4633    1333 cc
4634        NaN
4635     999 cc
4636        NaN
Name: Engine_Capacity, Length: 4637, dtype: object

In [38]:
def Engine_Capacity_func(capacity):
    if type(capacity) == str:
        if capacity == "n.b.":
            return np.nan
        else:
            capacity = capacity.split()[0]
            return capacity
    else:
        return capacity

In [39]:
df['Engine_Capacity(cc)'] = df["Engine_Capacity"].apply(Engine_Capacity_func)
df = df.drop("Engine_Capacity", axis = 1)

In [40]:
df['Engine_Capacity(cc)'] = df['Engine_Capacity(cc)'].astype(float)
df['Engine_Capacity(cc)']

0       1368.0
1       1368.0
2       1368.0
3       1368.0
4       1970.0
         ...
4632    1333.0
4633    1333.0
4634       NaN
4635     999.0
4636       NaN
Name: Engine_Capacity(cc), Length: 4637, dtype: float64

<p>7. Bore_X_Stroke</p>

In [41]:
df["Bore_X_Stroke"]

0       72,0 x 84,0 mm
1       72,0 x 84,0 mm
2       72,0 x 84,0 mm
3       72,0 x 84,0 mm
4       83,0 x 91,0 mm
             ...
4632              n.b.
4633              n.b.
4634               NaN
4635              n.b.
4636               NaN
Name: Bore_X_Stroke, Length: 4637, dtype: object

<pre>Since Bore_X_Stroke represents the diameter and length of the engine cylinders and Engine capacity 
represents total volume of all cylinder. We can remove "Bore_X_Stroke" feature.</pre>

In [42]:
df = df.drop("Bore_X_Stroke", axis = 1)

<p>8. Compression_Ratio</p>

In [43]:
df["Compression_Ratio"]

0       10,8 :1
1       10,8 :1
2        9,8 :1
3        9,8 :1
4       11,3 :1
         ...
4632       n.b.
4633       n.b.
4634        NaN
4635       n.b.
4636        NaN
Name: Compression_Ratio, Length: 4637, dtype: object

In [44]:
df["Compression_Ratio"].unique()

array(['10,8 :1', '9,8 :1', '11,3 :1', '10,5 :1', '9,5 :1', '10,3 :1',
       '10,0 :1', '18,4 :1', '9,0 :1', 'n.b.', '11,5 :1', '11,0 :1',
       '8,3 :1', '10,9 :1', '9,3 :1', '8,2 :1', '8,75 :1', '9,2 :1',
       '8,25 :1', '8,9 :1', '10,7 :1', '9,6 :1', '12,5 :1', '12,3 :1',
       '10,1 :1', '12,0 :1', '10,6 :1', '11,6 :1', '10,4 :1', '8,5 :1',
       '8,0 :1', '7,8 :1', '10,2 :1', '9,7 :1', '8,8 :1', '11,7 :1',
       '9,1 :1', '9,4 :1', '9,9 :1', '8,86 :1', nan, '9,25 :1', '17,6 :1',
       '8,6 :1', '21,2 :1', '11,2 :1', '13,5 :1', '12,2 :1', '11,1 :1',
       '9,85 :1', '16,5 :1', '17,5 :1', '18,0 :1', '18,5 :1', '9,33 :1',
       '8,4 :1', '8,7 :1', '12,6 :1', '21,0 :1', '9,13 :1', '11,8 :1',
       '17,1 :1', '9,35 :1', '19,5 :1', '15,5 :1', '8,13 :1', '9,34 :1',
       '10,75 :1', '13,0 :1', '11,25 :1', '7,4 :1', '22,0 :1', '14,0 :1',
       '17,0 :1', '15,0 :1', '21,8 :1', '17,9 :1', '21,9 :1', '15,6 :1',
       '9,75 :1', '9,65 :1', '11,4 :1', '20,7 :1', '16,0 :1', '7,75 :1',
       '9,45 :1', '7,6 :1', '12,7 :1', '11,65 :1', '7,9 :1', '7,5 :1',
       '7,0 :1', '7,7 :1', '18,8 :1', '8,65 :1', '20,0 :1', '16,8 :1',
       '16,7 :1', '15,4 :1', '15,7 :1', '15,3 :1', '16,4 :1', '15,1 :1',
       '14,4 :1'], dtype=object)

In [45]:
def Compression_Ratio_func(e):
    if type(e) == str:
        if e == "n.b.":
            return np.nan
        else:
            e = e.split()[0]
            e = e.replace(",",".")
            return e
    else:
        return e

In [46]:
df['New_Compression_Ratio'] = df["Compression_Ratio"].apply(Compression_Ratio_func)
df = df.drop("Compression_Ratio", axis = 1)
df = df.rename(columns={"New_Compression_Ratio":"Compression_Ratio"
                        })
df['Compression_Ratio'] = df['Compression_Ratio'].astype(float)
df["Compression_Ratio"]

0       10.8
1       10.8
2        9.8
3        9.8
4       11.3
        ...
4632     NaN
4633     NaN
4634     NaN
4635     NaN
4636     NaN
Name: Compression_Ratio, Length: 4637, dtype: float64

<p>9. Max_Power_Rpm</p>

In [47]:
df["Max_Power_Rpm"]

0       5500 tpm
1       5500 tpm
2       5750 tpm
3       5500 tpm
4       6400 tpm
          ...
4632    4500 tpm
4633    4500 tpm
4634         NaN
4635        n.b.
4636         NaN
Name: Max_Power_Rpm, Length: 4637, dtype: object

In [48]:
def Max_Power_Rpm_func(rpm):
    if type(rpm) == str:
        if rpm == "n.b.":
            return np.nan
        else:
            rpm = rpm.split()[0]
            return rpm
    else:
        return rpm

In [49]:
df['New_Max_Power_Rpm'] = df["Max_Power_Rpm"].apply(Max_Power_Rpm_func)
df['New_Max_Power_Rpm'] = df['New_Max_Power_Rpm'].astype(float)
df = df.drop("Max_Power_Rpm", axis = 1)
df = df.rename(columns={"New_Max_Power_Rpm":"Max_Power_Rpm"
                        })
df['Max_Power_Rpm']

0       5500.0
1       5500.0
2       5750.0
3       5500.0
4       6400.0
         ...
4632    4500.0
4633    4500.0
4634       NaN
4635       NaN
4636       NaN
Name: Max_Power_Rpm, Length: 4637, dtype: float64

<p>10. Max_Torque_Rpm</p>

In [50]:
df["Max_Torque_Rpm"]

0       3000 tpm
1       3000 tpm
2       3000 tpm
3       2250 tpm
4       3250 tpm
          ...
4632    1750 tpm
4633    1750 tpm
4634         NaN
4635    2000 tpm
4636         NaN
Name: Max_Torque_Rpm, Length: 4637, dtype: object

In [51]:
def Max_Torque_Rpm_func(rpm):
    if type(rpm) == str:
        if rpm == "n.b.":
            return np.nan
        else:
            rpm = rpm.split()[0]
            return rpm
    else:
        return rpm

In [52]:
df['New_Max_Torque_Rpm'] = df["Max_Torque_Rpm"].apply(Max_Torque_Rpm_func)
df['New_Max_Torque_Rpm'] = df['New_Max_Torque_Rpm'].astype(float)
df = df.drop("Max_Torque_Rpm", axis = 1)
df = df.rename(columns={"New_Max_Torque_Rpm":"Max_Torque_Rpm"
                        })
df['Max_Torque_Rpm']

0       3000.0
1       3000.0
2       3000.0
3       2250.0
4       3250.0
         ...
4632    1750.0
4633    1750.0
4634       NaN
4635    2000.0
4636       NaN
Name: Max_Torque_Rpm, Length: 4637, dtype: float64

<p>11. Fuel_System</p>

In [53]:
df["Fuel_System"]

0       multipoint injection
1       multipoint injection
2       multipoint injection
3       multipoint injection
4           direct injection
                ...
4632        direct injection
4633        direct injection
4634                     NaN
4635        direct injection
4636                     NaN
Name: Fuel_System, Length: 4637, dtype: object

In [54]:
df["Fuel_System"].unique()

array(['multipoint injection', 'direct injection', 'common rail',
       'carburettor', 'singplepoint injection', ' carburettor',
       'injection', 'indirect injection', nan, 'multijet', 'n.b.'],
      dtype=object)

In [55]:
def Fuel_System_func(fuel_sys):
    if type(fuel_sys) == str:
        if fuel_sys == "n.b.":
            return np.nan
        elif fuel_sys == ' carburettor':
            return 'carburettor'
        else:
            return fuel_sys
    else:
        return fuel_sys

In [56]:
df['New_Fuel_System'] = df["Fuel_System"].apply(Fuel_System_func)
df = df.drop("Fuel_System", axis = 1)
df = df.rename(columns={"New_Fuel_System":"Fuel_System"
                        })
df["Fuel_System"].unique()

array(['multipoint injection', 'direct injection', 'common rail',
       'carburettor', 'singplepoint injection', 'injection',
       'indirect injection', nan, 'multijet'], dtype=object)

<p>12. Turbo</p>

In [57]:
df["Turbo"]

0       yes, with intercooler
1       yes, with intercooler
2       yes, with intercooler
3       yes, with intercooler
4                          no
                ...
4632    yes, with intercooler
4633    yes, with intercooler
4634                      NaN
4635    yes, with intercooler
4636                      NaN
Name: Turbo, Length: 4637, dtype: object

In [58]:
df["Turbo"].unique()

array(['yes, with intercooler', 'no', 'mechanical compressor', 'yes',
       'yes, two', nan, 'n.b.'], dtype=object)

In [59]:
def Turbo_func(t):
    if type(t) == str:
        if t == "n.b.":
            return np.nan
        else:
            return t

    else:
        return t

In [60]:
df["New_Turbo"] = df["Turbo"].apply(Turbo_func)
df = df.drop("Turbo", axis = 1)

df = df.rename(columns={"New_Turbo":"Turbo"
                        })
df["Turbo"].unique()

array(['yes, with intercooler', 'no', 'mechanical compressor', 'yes',
       'yes, two', nan], dtype=object)

<p>13. Co2_Emissions</p>

In [61]:
df["Co2_Emissions"]

0       155 g/km
1       155 g/km
2       162 g/km
3       142 g/km
4       212 g/km
          ...
4632    134 g/km
4633    138 g/km
4634      0 g/km
4635    126 g/km
4636      0 g/km
Name: Co2_Emissions, Length: 4637, dtype: object

In [62]:
def Co2_Emissions_func(c):
    if type(c) == str:
        c = c.split()[0]
        if c == "-":
            return np.nan
        else:
            return c 
    else:
        return c

In [63]:
df['Co2_Emissions(g/km)'] = df["Co2_Emissions"].apply(Co2_Emissions_func)
df = df.drop("Co2_Emissions", axis = 1)

df['Co2_Emissions(g/km)'] = df['Co2_Emissions(g/km)'].astype(float)
df['Co2_Emissions(g/km)']

0       155.0
1       155.0
2       162.0
3       142.0
4       212.0
        ...
4632    134.0
4633    138.0
4634      0.0
4635    126.0
4636      0.0
Name: Co2_Emissions(g/km), Length: 4637, dtype: float64

<h5>5. Dealing with Missing Data</h5>

In [64]:
df.isnull().sum().sort_values(ascending = False)

Co2_Emissions(g/km)    1466
Compression_Ratio       300
Max_Power_Rpm           118
Max_Torque_Rpm          106
Engine_Capacity(cc)      94
Valves_Per_Cylinder      92
Cylinders                87
Fuel_Type                81
Fuel_System              80
Turbo                    79
Max_Torque(nm)           39
Power(kw)                13
dtype: int64

<p>Co2_Emissions (g/km)</p>

<pre>When Scraping data we also collected data from EV vehicles, which does not produce any Co2 Emission. 
So we can remove those rows.</pre>

In [65]:
df = df.dropna(subset=["Co2_Emissions(g/km)"])

In [66]:
df.isnull().sum().sort_values(ascending = False)

Compression_Ratio      266
Max_Power_Rpm           99
Max_Torque_Rpm          87
Engine_Capacity(cc)     81
Valves_Per_Cylinder     79
Fuel_System             78
Cylinders               78
Fuel_Type               78
Turbo                   77
Max_Torque(nm)          23
Co2_Emissions(g/km)      0
Power(kw)                0
dtype: int64

<p>Fuel_Type</p>

In [67]:
df["Fuel_Type"].unique()

array(['gasoline', 'gasoline / bio ethanol', nan, 'diesel',
       'lpg / gasoline'], dtype=object)

In [68]:
df.dropna(subset=["Fuel_Type"], inplace= True)

In [69]:
df.isnull().sum().sort_values(ascending = False)

Compression_Ratio      188
Max_Torque(nm)          23
Max_Power_Rpm           21
Max_Torque_Rpm           9
Engine_Capacity(cc)      3
Turbo                    1
Valves_Per_Cylinder      1
Co2_Emissions(g/km)      0
Fuel_System              0
Cylinders                0
Power(kw)                0
Fuel_Type                0
dtype: int64

<p>Compression ratio</p>

In [70]:
df["Compression_Ratio"].unique()

array([10.8 ,  9.8 , 11.3 , 10.5 , 10.3 , 10.  ,   nan, 11.5 , 11.  ,
        8.3 , 10.9 , 10.7 ,  9.5 ,  9.  ,  9.6 , 12.5 ,  9.3 , 12.3 ,
       10.1 , 12.  , 10.6 ,  8.5 ,  8.  ,  7.8 , 10.2 ,  9.7 , 11.7 ,
        9.2 , 10.4 ,  9.4 ,  9.9 ,  9.25, 17.6 ,  8.2 , 11.2 , 13.5 ,
       12.2 , 11.1 , 16.5 , 17.5 ,  8.8 , 18.  , 18.5 ,  9.13,  8.7 ,
        9.1 ,  8.6 , 11.8 , 17.1 , 15.5 , 19.5 ,  9.35, 10.75, 13.  ,
       11.25,  7.4 , 14.  , 17.  ,  8.9 , 15.  , 21.8 , 17.9 , 21.9 ,
       15.6 ,  9.65, 22.  , 11.4 , 16.  ,  8.4 , 12.7 , 11.65,  9.75,
       18.8 , 16.8 ,  9.45, 16.7 , 15.4 , 15.7 , 15.3 , 16.4 , 15.1 ,
       14.4 ])

<pre>The compression ratio depends up on the type of engines. We'll use the average of those 
to fill the missing values.</pre>

In [71]:
df["Fuel_Type"].unique()

array(['gasoline', 'gasoline / bio ethanol', 'diesel', 'lpg / gasoline'],
      dtype=object)

<pre>The average compression ratio for these engines are:</pre>

In [72]:
average_ratios = {
    'Gasoline_Engine': 9.0,
    'Diesel_Engine': 17.5,
    'gasoline_bio_ethanol': 12.0,
    'lpg_gasoline': 10.0
}

def Compression_Ratio_func(Compression_Ratio,Fuel_Type):
    if pd.isnull(Compression_Ratio):
        if Fuel_Type == "gasoline":
            return 9.0
        elif Fuel_Type == "gasoline / bio ethanol":
            return 12.0
        elif Fuel_Type == "diesel":
            return 17.5
        elif Fuel_Type == "lpg / gasoline":
            return 10.0
    else:
        return Compression_Ratio

In [73]:
df['New_Compression_Ratio'] = np.vectorize(Compression_Ratio_func)(df['Compression_Ratio'], df['Fuel_Type'])
df = df.drop("Compression_Ratio", axis = 1)
df["New_Compression_Ratio"] 
df = df.rename(columns={"New_Compression_Ratio":"Compression_Ratio"
                        })

In [74]:
df["Compression_Ratio"].unique()

array([10.8 ,  9.8 , 11.3 , 10.5 , 10.3 , 10.  ,  9.  , 11.5 , 11.  ,
        8.3 , 10.9 , 10.7 ,  9.5 ,  9.6 , 12.5 ,  9.3 , 12.3 , 10.1 ,
       12.  , 10.6 ,  8.5 ,  8.  ,  7.8 , 10.2 ,  9.7 , 11.7 ,  9.2 ,
       10.4 ,  9.4 ,  9.9 ,  9.25, 17.5 , 17.6 ,  8.2 , 11.2 , 13.5 ,
       12.2 , 11.1 , 16.5 ,  8.8 , 18.  , 18.5 ,  9.13,  8.7 ,  9.1 ,
        8.6 , 11.8 , 17.1 , 15.5 , 19.5 ,  9.35, 10.75, 13.  , 11.25,
        7.4 , 14.  , 17.  ,  8.9 , 15.  , 21.8 , 17.9 , 21.9 , 15.6 ,
        9.65, 22.  , 11.4 , 16.  ,  8.4 , 12.7 , 11.65,  9.75, 18.8 ,
       16.8 ,  9.45, 16.7 , 15.4 , 15.7 , 15.3 , 16.4 , 15.1 , 14.4 ])

In [75]:
df.isnull().sum().sort_values(ascending = False)

Max_Torque(nm)         23
Max_Power_Rpm          21
Max_Torque_Rpm          9
Engine_Capacity(cc)     3
Turbo                   1
Valves_Per_Cylinder     1
Compression_Ratio       0
Co2_Emissions(g/km)     0
Fuel_System             0
Cylinders               0
Power(kw)               0
Fuel_Type               0
dtype: int64

<p>Max_Power_Rpm</p>

In [76]:
df["Max_Power_Rpm"].unique()

array([5500., 5750., 6400., 6300., 5600., 6200., 6500., 5000., 6000.,
       7300., 4800., 5800., 5400., 5300., 3650., 7800., 7000., 4300.,
       8250., 5700., 4500., 3700., 3800., 4000., 6250., 6800., 5250.,
       4850., 4750., 7900., 4200., 6700., 4350., 5900., 6100., 6600.,
       6650., 5200., 5100., 6950., 6450.,   nan, 5850., 3500., 3250.,
       9000., 7600., 7750., 8500., 8000., 8300., 5450., 6350., 4600.,
       5550., 7100., 4700., 6150., 3600., 4900., 5875., 5650., 7400.,
       7200., 5350., 5470., 3400., 2750., 7250., 4250., 6750., 4100.,
       7500., 8600., 4400., 3750., 3900., 8400., 2700., 3850., 3000.])

<pre>We will use mean to fill the missing values.</pre>

In [77]:
mean_value = df['Max_Power_Rpm'].mean()
df['Max_Power_Rpm'].fillna(mean_value, inplace=True)

In [78]:
df.isnull().sum().sort_values(ascending = False)

Max_Torque(nm)         23
Max_Torque_Rpm          9
Engine_Capacity(cc)     3
Turbo                   1
Valves_Per_Cylinder     1
Compression_Ratio       0
Co2_Emissions(g/km)     0
Fuel_System             0
Max_Power_Rpm           0
Cylinders               0
Power(kw)               0
Fuel_Type               0
dtype: int64

<p>Max_Torque_Rpm</p>

In [79]:
df["Max_Torque_Rpm"].unique()

array([3000., 2250., 3250., 4600., 4200., 4500., 3800., 2800., 2000.,
       1750., 3900., 3500., 4400., 5000., 5750., 1500., 1400., 2100.,
       2500., 1600., 1550., 5500., 1850., 2900., 4000., 3300., 1950.,
       1300., 1800., 3400., 3200., 1700., 3950., 4250., 1100., 4300.,
       3750., 1350., 1200., 1250., 2750., 3600., 2200., 5700., 4900.,
       4100., 5100., 3050., 4800., 4950., 4550., 4350., 2600., 3700.,
       5200., 6000., 5600., 5250., 2300., 5300., 7500., 4700., 2850.,
       3100., 1900., 4850., 3450., 2400.,   nan, 4650., 6800., 4750.,
       2700., 4150., 2650., 6400., 6500., 1650., 1380., 2150., 1625.,
       1370., 1340., 6750., 7300., 1960., 1480., 1450., 7000., 1375.,
       1460., 2050., 2950., 1560.])

<pre>We will use mean to fill the missing values.</pre>

In [80]:
mean_value = df['Max_Torque_Rpm'].mean()
df['Max_Torque_Rpm'].fillna(mean_value, inplace=True)

In [81]:
df.isnull().sum().sort_values(ascending = False)

Max_Torque(nm)         23
Engine_Capacity(cc)     3
Turbo                   1
Valves_Per_Cylinder     1
Compression_Ratio       0
Co2_Emissions(g/km)     0
Fuel_System             0
Max_Torque_Rpm          0
Max_Power_Rpm           0
Cylinders               0
Power(kw)               0
Fuel_Type               0
dtype: int64

<p>Engine Capacity</p>

In [82]:
df["Engine_Capacity(cc)"]

0       1368.0
1       1368.0
2       1368.0
3       1368.0
4       1970.0
         ...
4628    1395.0
4629    1395.0
4632    1333.0
4633    1333.0
4635     999.0
Name: Engine_Capacity(cc), Length: 3093, dtype: float64

<pre>We will use mean to fill the missing values.</pre>

In [83]:
mean_value = df['Engine_Capacity(cc)'].mean()
df['Engine_Capacity(cc)'].fillna(mean_value, inplace=True)

In [84]:
df.isnull().sum().sort_values(ascending = False)

Max_Torque(nm)         23
Turbo                   1
Valves_Per_Cylinder     1
Compression_Ratio       0
Co2_Emissions(g/km)     0
Fuel_System             0
Max_Torque_Rpm          0
Max_Power_Rpm           0
Engine_Capacity(cc)     0
Cylinders               0
Power(kw)               0
Fuel_Type               0
dtype: int64

<p>Valves_Per_Cylinder</p>

In [85]:
df['Valves_Per_Cylinder']

0       4.0
1       4.0
2       4.0
3       4.0
4       4.0
       ...
4628    4.0
4629    4.0
4632    4.0
4633    4.0
4635    4.0
Name: Valves_Per_Cylinder, Length: 3093, dtype: float64

In [86]:
df["Valves_Per_Cylinder"].unique()

array([ 4.,  2.,  5.,  3., nan])

<pre>We will use mean to fill the missing values.</pre>

In [87]:
mean_value = df['Valves_Per_Cylinder'].mean()
df['Valves_Per_Cylinder'].fillna(mean_value, inplace=True)

In [88]:
df.isnull().sum().sort_values(ascending = False)

Max_Torque(nm)         23
Turbo                   1
Compression_Ratio       0
Co2_Emissions(g/km)     0
Fuel_System             0
Max_Torque_Rpm          0
Max_Power_Rpm           0
Engine_Capacity(cc)     0
Valves_Per_Cylinder     0
Cylinders               0
Power(kw)               0
Fuel_Type               0
dtype: int64

<p>Max_Torque(nm)</p>

In [89]:
df["Max_Torque(nm)"]

0       206.0
1       206.0
2       201.0
3       250.0
4       206.0
        ...
4628    400.0
4629    400.0
4632    260.0
4633    260.0
4635    200.0
Name: Max_Torque(nm), Length: 3093, dtype: float64

<pre>We will use mean to fill the missing values.</pre>

In [90]:
mean_value = df["Max_Torque(nm)"].mean()
df["Max_Torque(nm)"].fillna(mean_value, inplace=True)

In [91]:
df.isnull().sum().sort_values(ascending = False)

Turbo                  1
Compression_Ratio      0
Co2_Emissions(g/km)    0
Fuel_System            0
Max_Torque_Rpm         0
Max_Power_Rpm          0
Engine_Capacity(cc)    0
Valves_Per_Cylinder    0
Cylinders              0
Max_Torque(nm)         0
Power(kw)              0
Fuel_Type              0
dtype: int64

<p>Turbo</p>

<pre>We'll drop the row since only one row is missing</pre>

In [92]:
df.dropna(subset = ["Turbo"], inplace = True)

In [93]:
df.isnull().sum().sort_values(ascending = False)

Compression_Ratio      0
Co2_Emissions(g/km)    0
Turbo                  0
Fuel_System            0
Max_Torque_Rpm         0
Max_Power_Rpm          0
Engine_Capacity(cc)    0
Valves_Per_Cylinder    0
Cylinders              0
Max_Torque(nm)         0
Power(kw)              0
Fuel_Type              0
dtype: int64

<h5>6. Dropping Duplicate Rows</h5>

In [94]:
df.duplicated()

0       False
1        True
2       False
3       False
4       False
        ...
4628    False
4629    False
4632    False
4633    False
4635    False
Length: 3092, dtype: bool

In [95]:
df.duplicated().unique()

array([False,  True])

In [96]:
df = df.drop_duplicates()

In [97]:
df.duplicated()

0       False
2       False
3       False
4       False
5       False
        ...
4628    False
4629    False
4632    False
4633    False
4635    False
Length: 2378, dtype: bool

In [98]:
df.duplicated().unique()

array([False])

<h5>7. Describing the Dataset</h5>

In [99]:
df.head(3)

,Fuel_Type,Power(kw),Max_Torque(nm),Cylinders,Valves_Per_Cylinder,Engine_Capacity(cc),Max_Power_Rpm,Max_Torque_Rpm,Fuel_System,Turbo,Co2_Emissions(g/km),Compression_Ratio
0,gasoline,99.0,206.0,"4, in line",4.0,1368.0,5500.0,3000.0,multipoint injection,"yes, with intercooler",155.0,10.8
2,gasoline,114.0,201.0,"4, in line",4.0,1368.0,5750.0,3000.0,multipoint injection,"yes, with intercooler",162.0,9.8
3,gasoline,121.0,250.0,"4, in line",4.0,1368.0,5500.0,2250.0,multipoint injection,"yes, with intercooler",142.0,9.8

In [100]:
df.tail(2)

,Fuel_Type,Power(kw),Max_Torque(nm),Cylinders,Valves_Per_Cylinder,Engine_Capacity(cc),Max_Power_Rpm,Max_Torque_Rpm,Fuel_System,Turbo,Co2_Emissions(g/km),Compression_Ratio
4633,gasoline,103.0,260.0,"4, in line",4.0,1333.0,4500.000000,1750.0,direct injection,"yes, with intercooler",138.0,9.0
4635,gasoline,81.0,200.0,"3, in line",4.0,999.0,5539.410807,2000.0,direct injection,"yes, with intercooler",126.0,9.0

In [101]:
df.shape

(2378, 12)

In [102]:
print(f"There are totally {df.shape[0]} instances or rows and {df.shape[1]} features or columns.")

There are totally 2378 instances or rows and 12 features or columns.

In [103]:
print("The features present in this dataset are:")
for column in df.columns:
    print(column)

The features present in this dataset are:
Fuel_Type
Power(kw)
Max_Torque(nm)
Cylinders
Valves_Per_Cylinder
Engine_Capacity(cc)
Max_Power_Rpm
Max_Torque_Rpm
Fuel_System
Turbo
Co2_Emissions(g/km)
Compression_Ratio

In [104]:
print("The information about the dataset:")
df.info()

The information about the dataset:
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2378 entries, 0 to 4635
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Fuel_Type            2378 non-null   object
 1   Power(kw)            2378 non-null   float64
 2   Max_Torque(nm)       2378 non-null   float64
 3   Cylinders            2378 non-null   object
 4   Valves_Per_Cylinder  2378 non-null   float64
 5   Engine_Capacity(cc)  2378 non-null   float64
 6   Max_Power_Rpm        2378 non-null   float64
 7   Max_Torque_Rpm       2378 non-null   float64
 8   Fuel_System          2378 non-null   object
 9   Turbo                2378 non-null   object
 10  Co2_Emissions(g/km)  2378 non-null   float64
 11  Compression_Ratio    2378 non-null   float64
dtypes: float64(8), object(4)
memory usage: 241.5+ KB

In [105]:
print("Summary Statistics:")
df.describe()

Summary Statistics:

,Power(kw),Max_Torque(nm),Valves_Per_Cylinder,Engine_Capacity(cc),Max_Power_Rpm,Max_Torque_Rpm,Co2_Emissions(g/km),Compression_Ratio
count,2378.000000,2378.000000,2378.000000,2378.000000,2378.000000,2378.000000,2378.000000,2378.000000
mean,128.325904,252.203068,3.761458,2095.355430,5527.263758,3054.938619,186.159798,10.835021
std,90.433254,153.452807,0.667079,1102.526982,866.302253,1235.747787,68.547700,2.000496
min,29.000000,53.000000,2.000000,599.000000,2700.000000,1100.000000,19.000000,7.400000
25%,74.000000,148.000000,4.000000,1390.000000,5000.000000,1750.000000,141.000000,9.800000
50%,97.000000,200.000000,4.000000,1796.000000,5600.000000,3138.226329,172.000000,10.500000
75%,147.000000,319.750000,4.000000,2359.000000,6000.000000,4000.000000,215.000000,11.000000
max,736.000000,1300.000000,5.000000,8277.000000,9000.000000,7500.000000,595.000000,22.000000

#### Save Data

In [107]:
df.to_csv("../Data/Cleaned_Data.csv")

#### Upload data to cloud storage

In [106]:
# update the 'my_path' variable to match the location of where you downloaded the data on your
# local filesystem

my_path = "../Data/Cleaned_Data.csv"
# set the version number of the data asset
version = "Cleaned_Data"

my_data = Data(
    name="Car-Data",
    version=version,
    description="Co2 Emissions Prediction - Car Data",
    path=my_path,
    type=AssetTypes.URI_FILE,
)

## create data asset if it doesn't already exist:
ml_client.data.create_or_update(my_data)
print(f"Data asset created. Name: {my_data.name}, version: {my_data.version}")

Uploading Cleaned_Data.csv (< 1 MB): 100%|██████████| 248k/248k [00:00<00:00, 14.6MB/s]

Data asset created. Name: Car-Data, version: Cleaned_Data